---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Mí"
	description="Victorino López Iglesias"
	pubDate={new Date('Febrary 08 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Doctor en Periodismo, Sobresaliente cum laude (UCM), Doctorando en Humanidades (UC3M), Licenciado en Ciencias de la Información (UCM) y Licenciado en Geografía e Historia (UNED). Premio extraordinario de Doctorado, curso 2011-2012. Premio a la excelencia docente por la UC3M, curso 2021-22.
	</p>
	<p>	
		Mis inicios los marcó una intensa carrera periodística en el grupo PRISA (Cadena SER y Diario AS). En la actualidad soy profesor asociado de la Universidad Carlos III de Madrid, en el departamento de Comunicación. 
	</p>
	<p>	
		Además, soy funcionario de carrera, ejerciendo como profesor de enseñanza secundaria en el IES Galileo Galilei de Alcorcón, donde desempeño el cargo de jefe de departamento de Geografía e Historia.
	</p>
</Layout>
