---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👨‍🏫🕵️‍♂️📻 ¡Hola, a tod@s!</h1>
			<p>
				Esta es la Página Web de Victorino López Iglesias, profesor, investigador y periodista.
			</p>
			<p>
				Un profesional comprometido con la educación:
			</p>
			<p>
				Su compromiso con la educación le lleva a participar activamente en diferentes proyectos educativos y de innovación docente. Además, es autor de diversas publicaciones en revistas científicas y libros especializados.
			</p>
			<p>
				Más que un profesor, un mentor:
			</p>
			<p>
				Victorino no se limita a transmitir conocimientos, sino que busca inspirar y motivar a sus alumnos. Su objetivo es ayudarles a desarrollar todo su potencial y prepararlos para el futuro profesional.
			</p>				
			<p>
				Un pasado periodístico que enriquece su presente docente:
			</p>
			<p>
				Su formación se completa con una intensa carrera periodística en el grupo PRISA, donde trabajó para la Cadena SER y el Diario AS. Esta experiencia le ha permitido desarrollar una gran capacidad de comunicación y análisis, habilidades que ahora pone al servicio de sus alumnos.
			</p>
			<p>
				Compaginando la docencia con la investigación:
			</p>
			<p>
				Su pasión por la enseñanza le llevó a iniciar su carrera como profesor asociado en el departamento de Comunicación de la Universidad Carlos III de Madrid. En paralelo, también es funcionario de carrera y ejerce como profesor de enseñanza secundaria en el IES Galileo Galilei de Alcorcón, donde además desempeña el cargo de jefe de departamento de Geografía e Historia.
			</p>
		<!-- 
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		-->
		</main>
		<Footer />
	</body>
</html>
