---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👨‍🏫🕵️‍♂️📻 ¡Hola, a tod@s!</h1>
			<p>
				Esta es la Página Web de Victorino López Iglesias, profesor, investigador y periodista.
			</p>
			<p>
				Un profesional comprometido con la educación:
			</p>
			<p>
				Su compromiso con la educación le lleva a participar activamente en diferentes proyectos educativos y de innovación docente. Además, es autor de diversas publicaciones en revistas científicas y libros especializados.
			</p>
			<p>
				Más que un profesor, un mentor:
			</p>
			<p>
				Victorino no se limita a transmitir conocimientos, sino que busca inspirar y motivar a sus alumnos. Su objetivo es ayudarles a desarrollar todo su potencial y prepararlos para el futuro profesional.
			</p>				
			<p>
				Un pasado periodístico que enriquece su presente docente:
			</p>
			<p>
				Su formación se completa con una intensa carrera periodística en el grupo PRISA, donde trabajó para la Cadena SER y el Diario AS. Esta experiencia le ha permitido desarrollar una gran capacidad de comunicación y análisis, habilidades que ahora pone al servicio de sus alumnos.
			</p>
			<p>
				Compaginando la docencia con la investigación:
			</p>
			<p>
				Su pasión por la enseñanza le llevó a iniciar su carrera como profesor asociado en el departamento de Comunicación de la Universidad Carlos III de Madrid. En paralelo, también es funcionario de carrera y ejerce como profesor de enseñanza secundaria en el IES Galileo Galilei de Alcorcón, donde además desempeña el cargo de jefe de departamento de Geografía e Historia.
			</p>
		</main>
		<Footer />
	</body>
</html>
