---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Victorino López Iglesias. Todos los derechos reservados.
	<div class="social-links">
		<a href="https://www.linkedin.com/in/v%C3%ADctor-l%C3%B3pez-iglesias-05178459" target="_blank">
			<span class="sr-only">LinkedIn</span>
			<svg  viewBox="0 0 24 24" aria-hidden="true" width="32" height="32" astro-icon="social/linkedin"
				><path
					 fill="currentColor"
					 d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
					</svg
				>
		</a>
		<a href="https://scholar.google.es/citations?user=Fh6Fg98AAAAJ" target="_blank">
			<span class="sr-only">Google Scholar</span>	 
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:v="https://svgstorm.com"
				viewBox = "0 0 150 150"
				width="150"
				height="150">
				<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
				M 0.00 15.00 
				C 3.03 8.67 8.77 3.03 15.00 0.00
				L 0.00 0.00
				L 0.00 15.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#4285F4" stroke-opacity="1.00" stroke-width="0.3"><path d="
				M 0.00 15.00 
				L 0.00 130.00
				C 1.07 131.05 1.96 134.09 1.00 135.00
				C 3.52 141.73 8.48 147.08 15.00 150.00
				L 130.00 150.00
				C 130.22 148.72 132.81 148.58 133.00 150.00
				L 135.00 150.00
				C 141.58 147.06 146.48 141.71 149.00 135.00
				C 148.22 134.26 148.68 130.78 150.00 130.00
				L 150.00 15.00
				C 147.06 8.42 141.71 3.52 135.00 1.00
				C 134.26 1.78 130.78 1.32 130.00 0.00
				L 15.00 0.00
				C 8.77 3.03 3.03 8.67 0.00 15.00
				M 112.00 46.00 
				C 113.04 57.10 112.44 61.03 112.00 73.00 C 111.56 84.97 102.02 75.62 105.00 66.00 C 107.98 56.38 102.14 48.53 107.00 40.00
				C 102.18 45.30 90.92 48.20 95.00 57.00
				C 95.53 59.73 95.88 61.22 95.00 64.00
				C 92.64 71.45 77.38 81.46 87.75 88.25 C 98.13 95.03 102.71 105.88 96.25 116.25 C 89.78 126.61 75.34 126.58 65.00 126.00 C 54.66 125.42 42.06 115.01 47.78 104.78 C 53.49 94.54 65.56 92.31 76.00 91.00
				C 73.40 87.88 72.29 83.78 74.00 80.00
				C 63.80 78.64 51.38 72.09 52.00 60.00
				C 45.33 60.00 38.67 60.00 32.00 60.00
				C 40.28 51.30 49.76 43.55 59.00 36.00
				C 65.83 29.17 75.32 32.55 85.00 32.00 C 94.68 31.45 106.16 32.41 116.00 32.00
				C 112.07 35.61 108.90 40.75 112.00 46.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#4384F1" stroke-opacity="0.49" stroke-width="0.3"><path d="
				M 135.00 1.00 
				C 134.84 0.94 135.00 0.00 135.00 0.00
				L 130.00 0.00
				C 130.78 1.32 134.26 1.78 135.00 1.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
				M 135.00 1.00 
				C 141.71 3.52 147.06 8.42 150.00 15.00
				L 150.00 0.00
				L 135.00 0.00
				C 135.00 0.00 134.84 0.94 135.00 1.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#A0C1F9" stroke-opacity="1.00" stroke-width="0.3"><path d="
				M 59.00 36.00 
				C 66.19 30.33 75.94 33.71 85.00 33.00 C 94.06 32.29 104.79 33.53 114.00 33.00
				C 110.41 35.97 107.51 42.79 112.00 46.00
				C 108.90 40.75 112.07 35.61 116.00 32.00
				C 106.16 32.41 94.68 31.45 85.00 32.00 C 75.32 32.55 65.83 29.17 59.00 36.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#FBFCFE" stroke-opacity="1.00" stroke-width="0.3"><path d="
				M 59.00 36.00 
				C 49.76 43.55 40.28 51.30 32.00 60.00
				C 38.67 60.00 45.33 60.00 52.00 60.00
				C 51.38 72.09 63.80 78.64 74.00 80.00
				C 72.29 83.78 73.40 87.88 76.00 91.00
				C 65.56 92.31 53.49 94.54 47.78 104.78 C 42.06 115.01 54.66 125.42 65.00 126.00 C 75.34 126.58 89.78 126.61 96.25 116.25 C 102.71 105.88 98.13 95.03 87.75 88.25 C 77.38 81.46 92.64 71.45 95.00 64.00
				C 95.35 61.90 95.16 59.12 95.00 57.00
				C 90.92 48.20 102.18 45.30 107.00 40.00
				C 102.14 48.53 107.98 56.38 105.00 66.00 C 102.02 75.62 111.56 84.97 112.00 73.00 C 112.44 61.03 113.04 57.10 112.00 46.00
				C 107.51 42.79 110.41 35.97 114.00 33.00
				C 104.79 33.53 94.06 32.29 85.00 33.00 C 75.94 33.71 66.19 30.33 59.00 36.00
				M 75.00 45.00 
				C 89.83 48.67 89.40 77.31 72.78 73.22 C 56.16 69.13 57.12 40.57 75.00 45.00
				M 79.00 95.00 
				C 90.12 96.40 94.68 110.82 85.92 115.92 C 77.16 121.02 61.59 121.72 57.23 111.77 C 52.87 101.82 71.81 94.09 79.00 95.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#4587F4" stroke-opacity="1.00" stroke-width="0.3"><path d="
				M 75.00 45.00 
				C 57.12 40.57 56.16 69.13 72.78 73.22 C 89.40 77.31 89.83 48.67 75.00 45.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#ABC9FA" stroke-opacity="1.00" stroke-width="0.3"><path d="
				M 95.00 64.00 
				C 95.88 61.22 95.53 59.73 95.00 57.00
				C 95.16 59.12 95.35 61.90 95.00 64.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#4788F4" stroke-opacity="1.00" stroke-width="0.3"><path d="
				M 79.00 95.00 
				C 71.81 94.09 52.87 101.82 57.23 111.77 C 61.59 121.72 77.16 121.02 85.92 115.92 C 94.68 110.82 90.12 96.40 79.00 95.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#4384F1" stroke-opacity="0.49" stroke-width="0.3"><path d="
				M 0.00 135.00 
				C 0.50 135.00 1.00 135.00 1.00 135.00
				C 1.96 134.09 1.07 131.05 0.00 130.00
				L 0.00 135.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#4384F1" stroke-opacity="0.49" stroke-width="0.3"><path d="
				M 149.00 135.00 
				C 149.06 134.84 150.00 135.00 150.00 135.00
				L 150.00 130.00
				C 148.68 130.78 148.22 134.26 149.00 135.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
				M 0.00 150.00 
				L 15.00 150.00
				C 8.48 147.08 3.52 141.73 1.00 135.00
				C 1.00 135.00 0.50 135.00 0.00 135.00
				L 0.00 150.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
				M 135.00 150.00 
				L 150.00 150.00
				L 150.00 135.00
				C 150.00 135.00 149.06 134.84 149.00 135.00
				C 146.48 141.71 141.58 147.06 135.00 150.00 Z"/>
				</g>
				<g fill="None" fill-opacity="0.0" stroke="#4285F4" stroke-opacity="0.61" stroke-width="0.3"><path d="
				M 130.00 150.00 
				L 133.00 150.00
				C 132.81 148.58 130.22 148.72 130.00 150.00 Z"/>
				</g>
				<g fill="#000000" fill-opacity="0.00" stroke="None">
				<path d="
				M 0.00 15.00 
				C 3.03 8.67 8.77 3.03 15.00 0.00
				L 0.00 0.00
				L 0.00 15.00 Z"/>
				</g>
				<g fill="#4285F4" fill-opacity="1.00" stroke="None">
				<path d="
				M 0.00 15.00 
				L 0.00 130.00
				C 1.07 131.05 1.96 134.09 1.00 135.00
				C 3.52 141.73 8.48 147.08 15.00 150.00
				L 130.00 150.00
				C 130.22 148.72 132.81 148.58 133.00 150.00
				L 135.00 150.00
				C 141.58 147.06 146.48 141.71 149.00 135.00
				C 148.22 134.26 148.68 130.78 150.00 130.00
				L 150.00 15.00
				C 147.06 8.42 141.71 3.52 135.00 1.00
				C 134.26 1.78 130.78 1.32 130.00 0.00
				L 15.00 0.00
				C 8.77 3.03 3.03 8.67 0.00 15.00
				M 112.00 46.00 
				C 113.04 57.10 112.44 61.03 112.00 73.00 C 111.56 84.97 102.02 75.62 105.00 66.00 C 107.98 56.38 102.14 48.53 107.00 40.00
				C 102.18 45.30 90.92 48.20 95.00 57.00
				C 95.53 59.73 95.88 61.22 95.00 64.00
				C 92.64 71.45 77.38 81.46 87.75 88.25 C 98.13 95.03 102.71 105.88 96.25 116.25 C 89.78 126.61 75.34 126.58 65.00 126.00 C 54.66 125.42 42.06 115.01 47.78 104.78 C 53.49 94.54 65.56 92.31 76.00 91.00
				C 73.40 87.88 72.29 83.78 74.00 80.00
				C 63.80 78.64 51.38 72.09 52.00 60.00
				C 45.33 60.00 38.67 60.00 32.00 60.00
				C 40.28 51.30 49.76 43.55 59.00 36.00
				C 65.83 29.17 75.32 32.55 85.00 32.00 C 94.68 31.45 106.16 32.41 116.00 32.00
				C 112.07 35.61 108.90 40.75 112.00 46.00 Z"/>
				</g>
				<g fill="#4384F1" fill-opacity="0.49" stroke="None">
				<path d="
				M 135.00 1.00 
				C 134.84 0.94 135.00 0.00 135.00 0.00
				L 130.00 0.00
				C 130.78 1.32 134.26 1.78 135.00 1.00 Z"/>
				</g>
				<g fill="#000000" fill-opacity="0.00" stroke="None">
				<path d="
				M 135.00 1.00 
				C 141.71 3.52 147.06 8.42 150.00 15.00
				L 150.00 0.00
				L 135.00 0.00
				C 135.00 0.00 134.84 0.94 135.00 1.00 Z"/>
				</g>
				<g fill="#A0C1F9" fill-opacity="1.00" stroke="None">
				<path d="
				M 59.00 36.00 
				C 66.19 30.33 75.94 33.71 85.00 33.00 C 94.06 32.29 104.79 33.53 114.00 33.00
				C 110.41 35.97 107.51 42.79 112.00 46.00
				C 108.90 40.75 112.07 35.61 116.00 32.00
				C 106.16 32.41 94.68 31.45 85.00 32.00 C 75.32 32.55 65.83 29.17 59.00 36.00 Z"/>
				</g>
				<g fill="#FBFCFE" fill-opacity="1.00" stroke="None">
				<path d="
				M 59.00 36.00 
				C 49.76 43.55 40.28 51.30 32.00 60.00
				C 38.67 60.00 45.33 60.00 52.00 60.00
				C 51.38 72.09 63.80 78.64 74.00 80.00
				C 72.29 83.78 73.40 87.88 76.00 91.00
				C 65.56 92.31 53.49 94.54 47.78 104.78 C 42.06 115.01 54.66 125.42 65.00 126.00 C 75.34 126.58 89.78 126.61 96.25 116.25 C 102.71 105.88 98.13 95.03 87.75 88.25 C 77.38 81.46 92.64 71.45 95.00 64.00
				C 95.35 61.90 95.16 59.12 95.00 57.00
				C 90.92 48.20 102.18 45.30 107.00 40.00
				C 102.14 48.53 107.98 56.38 105.00 66.00 C 102.02 75.62 111.56 84.97 112.00 73.00 C 112.44 61.03 113.04 57.10 112.00 46.00
				C 107.51 42.79 110.41 35.97 114.00 33.00
				C 104.79 33.53 94.06 32.29 85.00 33.00 C 75.94 33.71 66.19 30.33 59.00 36.00
				M 75.00 45.00 
				C 89.83 48.67 89.40 77.31 72.78 73.22 C 56.16 69.13 57.12 40.57 75.00 45.00
				M 79.00 95.00 
				C 90.12 96.40 94.68 110.82 85.92 115.92 C 77.16 121.02 61.59 121.72 57.23 111.77 C 52.87 101.82 71.81 94.09 79.00 95.00 Z"/>
				</g>
				<g fill="#4587F4" fill-opacity="1.00" stroke="None">
				<path d="
				M 75.00 45.00 
				C 57.12 40.57 56.16 69.13 72.78 73.22 C 89.40 77.31 89.83 48.67 75.00 45.00 Z"/>
				</g>
				<g fill="#ABC9FA" fill-opacity="1.00" stroke="None">
				<path d="
				M 95.00 64.00 
				C 95.88 61.22 95.53 59.73 95.00 57.00
				C 95.16 59.12 95.35 61.90 95.00 64.00 Z"/>
				</g>
				<g fill="#4788F4" fill-opacity="1.00" stroke="None">
				<path d="
				M 79.00 95.00 
				C 71.81 94.09 52.87 101.82 57.23 111.77 C 61.59 121.72 77.16 121.02 85.92 115.92 C 94.68 110.82 90.12 96.40 79.00 95.00 Z"/>
				</g>
				<g fill="#4384F1" fill-opacity="0.49" stroke="None">
				<path d="
				M 0.00 135.00 
				C 0.50 135.00 1.00 135.00 1.00 135.00
				C 1.96 134.09 1.07 131.05 0.00 130.00
				L 0.00 135.00 Z"/>
				</g>
				<g fill="#4384F1" fill-opacity="0.49" stroke="None">
				<path d="
				M 149.00 135.00 
				C 149.06 134.84 150.00 135.00 150.00 135.00
				L 150.00 130.00
				C 148.68 130.78 148.22 134.26 149.00 135.00 Z"/>
				</g>
				<g fill="#000000" fill-opacity="0.00" stroke="None">
				<path d="
				M 0.00 150.00 
				L 15.00 150.00
				C 8.48 147.08 3.52 141.73 1.00 135.00
				C 1.00 135.00 0.50 135.00 0.00 135.00
				L 0.00 150.00 Z"/>
				</g>
				<g fill="#000000" fill-opacity="0.00" stroke="None">
				<path d="
				M 135.00 150.00 
				L 150.00 150.00
				L 150.00 135.00
				C 150.00 135.00 149.06 134.84 149.00 135.00
				C 146.48 141.71 141.58 147.06 135.00 150.00 Z"/>
				</g>
				<g fill="#4285F4" fill-opacity="0.61" stroke="None">
				<path d="
				M 130.00 150.00 
				L 133.00 150.00
				C 132.81 148.58 130.22 148.72 130.00 150.00 Z"/>
				</g>
				</svg>
		</a>
		<a href="https://github.com/elswork/victorino.deft.work" target="_blank">
			<span class="sr-only">GitHub Repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
