---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Victorino López Iglesias. Todos los derechos reservados.
	<div class="social-links">
		<a href="https://www.linkedin.com/in/v%C3%ADctor-l%C3%B3pez-iglesias-05178459" target="_blank">
			<span class="sr-only">LinkedIn</span>
			<svg  viewBox="0 0 24 24" aria-hidden="true" width="32" height="32" astro-icon="social/linkedin"
				><path
					 fill="currentColor"
					 d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
					</svg
				>
		</a>
		<a href="https://scholar.google.es/citations?user=Fh6Fg98AAAAJ" target="_blank">
			<span class="sr-only">Google Scholar</span>	 			
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:v="https://svgstorm.com"
viewBox = "0 0 150 150"
width="150"
height="150">
<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
M 0.00 58.00 
C 25.08 39.77 49.59 19.22 74.00 0.00
L 0.00 0.00
L 0.00 58.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#4285F3" stroke-opacity="0.98" stroke-width="0.3"><path d="
M 0.00 58.00 
L 0.00 60.00
C 10.62 70.04 24.05 77.61 34.00 88.00
C 34.24 88.25 35.00 88.00 35.00 88.00
C 43.45 73.28 57.12 61.46 75.00 62.00
C 75.00 41.33 75.00 20.67 75.00 0.00
L 74.00 0.00
C 49.59 19.22 25.08 39.77 0.00 58.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#356AC3" stroke-opacity="0.98" stroke-width="0.3"><path d="
M 75.00 62.00 
C 93.12 62.54 106.18 72.65 115.00 88.00
C 115.50 88.00 116.00 88.00 116.00 88.00
C 125.52 78.06 141.04 71.38 149.00 60.00
C 148.53 59.77 148.23 58.39 148.00 58.00
C 140.32 45.38 122.34 39.60 112.25 28.75 C 102.16 17.90 86.25 10.68 76.00 0.00
L 75.00 0.00
C 75.00 20.67 75.00 41.33 75.00 62.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
M 148.00 58.00 
C 148.31 58.24 149.50 58.00 150.00 58.00
L 150.00 0.00
L 76.00 0.00
C 86.25 10.68 102.16 17.90 112.25 28.75 C 122.34 39.60 140.32 45.38 148.00 58.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#3569C1" stroke-opacity="0.53" stroke-width="0.3"><path d="
M 149.00 60.00 
C 149.16 59.77 150.00 60.00 150.00 60.00
L 150.00 58.00
C 149.50 58.00 148.31 58.24 148.00 58.00
C 148.23 58.39 148.53 59.77 149.00 60.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
M 0.00 150.00 
L 66.00 150.00
C 52.98 146.18 45.64 140.50 37.08 128.92 C 28.52 117.34 32.22 101.14 34.00 88.00
C 24.05 77.61 10.62 70.04 0.00 60.00
L 0.00 150.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#000000" stroke-opacity="0.00" stroke-width="0.3"><path d="
M 116.00 88.00 
C 117.77 101.04 121.58 117.49 113.08 129.08 C 104.57 140.66 96.66 146.10 84.00 150.00
L 150.00 150.00
L 150.00 60.00
C 150.00 60.00 149.16 59.77 149.00 60.00
C 141.04 71.38 125.52 78.06 116.00 88.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#76A7F9" stroke-opacity="1.00" stroke-width="0.3"><path d="
M 35.00 88.00 
C 61.67 88.00 88.33 88.00 115.00 88.00
C 106.18 72.65 93.12 62.54 75.00 62.00
C 57.12 61.46 43.45 73.28 35.00 88.00 Z"/>
</g>
<g fill="None" fill-opacity="0.0" stroke="#9FC2FE" stroke-opacity="0.98" stroke-width="0.3"><path d="
M 66.00 150.00 
L 84.00 150.00
C 96.66 146.10 104.57 140.66 113.08 129.08 C 121.58 117.49 117.77 101.04 116.00 88.00
C 116.00 88.00 115.50 88.00 115.00 88.00
C 88.33 88.00 61.67 88.00 35.00 88.00
C 35.00 88.00 34.24 88.25 34.00 88.00
C 32.22 101.14 28.52 117.34 37.08 128.92 C 45.64 140.50 52.98 146.18 66.00 150.00 Z"/>
</g>
<g fill="#000000" fill-opacity="0.00" stroke="None">
<path d="
M 0.00 58.00 
C 25.08 39.77 49.59 19.22 74.00 0.00
L 0.00 0.00
L 0.00 58.00 Z"/>
</g>
<g fill="#4285F3" fill-opacity="0.98" stroke="None">
<path d="
M 0.00 58.00 
L 0.00 60.00
C 10.62 70.04 24.05 77.61 34.00 88.00
C 34.24 88.25 35.00 88.00 35.00 88.00
C 43.45 73.28 57.12 61.46 75.00 62.00
C 75.00 41.33 75.00 20.67 75.00 0.00
L 74.00 0.00
C 49.59 19.22 25.08 39.77 0.00 58.00 Z"/>
</g>
<g fill="#356AC3" fill-opacity="0.98" stroke="None">
<path d="
M 75.00 62.00 
C 93.12 62.54 106.18 72.65 115.00 88.00
C 115.50 88.00 116.00 88.00 116.00 88.00
C 125.52 78.06 141.04 71.38 149.00 60.00
C 148.53 59.77 148.23 58.39 148.00 58.00
C 140.32 45.38 122.34 39.60 112.25 28.75 C 102.16 17.90 86.25 10.68 76.00 0.00
L 75.00 0.00
C 75.00 20.67 75.00 41.33 75.00 62.00 Z"/>
</g>
<g fill="#000000" fill-opacity="0.00" stroke="None">
<path d="
M 148.00 58.00 
C 148.31 58.24 149.50 58.00 150.00 58.00
L 150.00 0.00
L 76.00 0.00
C 86.25 10.68 102.16 17.90 112.25 28.75 C 122.34 39.60 140.32 45.38 148.00 58.00 Z"/>
</g>
<g fill="#3569C1" fill-opacity="0.53" stroke="None">
<path d="
M 149.00 60.00 
C 149.16 59.77 150.00 60.00 150.00 60.00
L 150.00 58.00
C 149.50 58.00 148.31 58.24 148.00 58.00
C 148.23 58.39 148.53 59.77 149.00 60.00 Z"/>
</g>
<g fill="#000000" fill-opacity="0.00" stroke="None">
<path d="
M 0.00 150.00 
L 66.00 150.00
C 52.98 146.18 45.64 140.50 37.08 128.92 C 28.52 117.34 32.22 101.14 34.00 88.00
C 24.05 77.61 10.62 70.04 0.00 60.00
L 0.00 150.00 Z"/>
</g>
<g fill="#000000" fill-opacity="0.00" stroke="None">
<path d="
M 116.00 88.00 
C 117.77 101.04 121.58 117.49 113.08 129.08 C 104.57 140.66 96.66 146.10 84.00 150.00
L 150.00 150.00
L 150.00 60.00
C 150.00 60.00 149.16 59.77 149.00 60.00
C 141.04 71.38 125.52 78.06 116.00 88.00 Z"/>
</g>
<g fill="#76A7F9" fill-opacity="1.00" stroke="None">
<path d="
M 35.00 88.00 
C 61.67 88.00 88.33 88.00 115.00 88.00
C 106.18 72.65 93.12 62.54 75.00 62.00
C 57.12 61.46 43.45 73.28 35.00 88.00 Z"/>
</g>
<g fill="#9FC2FE" fill-opacity="0.98" stroke="None">
<path d="
M 66.00 150.00 
L 84.00 150.00
C 96.66 146.10 104.57 140.66 113.08 129.08 C 121.58 117.49 117.77 101.04 116.00 88.00
C 116.00 88.00 115.50 88.00 115.00 88.00
C 88.33 88.00 61.67 88.00 35.00 88.00
C 35.00 88.00 34.24 88.25 34.00 88.00
C 32.22 101.14 28.52 117.34 37.08 128.92 C 45.64 140.50 52.98 146.18 66.00 150.00 Z"/>
</g>
</svg>
		</a>
		<a href="https://github.com/elswork/victorino.deft.work" target="_blank">
			<span class="sr-only">GitHub Repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
